.codelord {
    font-size: 29px;
    margin-left: 60px;
    margin-right: 700px;
    font-weight: bold;
  }
.code {
    color: #D9ECFF; 
}

.lord {
    color: #21B573; 
}

.select {
    font-size: 18px;
    font-family: 'Inter', sans-serif; 
    color: #D9ECFF;
}

.select .nav-link {
    color: #D9ECFF;
    font-weight: 400 
  }

.button-distance{
    margin-right: 60px;
}
.button-text {
    font-size: 18px;
    font-weight: bold;
    color:  #D9ECFF;
}

.button-container {
    display: inline-block; 
    border: 3px solid #D9ECFF; 
    width: 126px;
    height: 60px;
    border-radius: 50px;

}

.background-color {
    color: #0E1620;
}

.poppins-font{
    font-family: 'Poppins', sans-serif;
}

.limit {
    width: 100%;
}

/*make the header stay*/
.header {
    position: sticky;
    top: 0;
    z-index: 999;
}

.title {
    text-align: center;
    margin-top: 200px;
    font-size: 90px;
    font-weight: bold;
    color: #D9ECFF;
}

/*Search box css*/
.search{
    position: relative;
    top : -700px;
    left: 510px;
    color: #3D4E64;
}

.search input{
    height: 99px;
    width: 866px;
    border-radius: 50px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
    font-size: 27px;
    font-weight: bold;
}


.search input:focus{
    box-shadow: none;
    border: 2px solid #FAB437;
}

.search .fa-search{
    top: 20px;
    left: 16px;
}

.search button{
    position: absolute;
    top: 11px;
    right: 410px;
    height: 76px;
    width: 152px;
    background: #FAB437;
    border-radius: 50px;
    font-weight: bold;
    font-size: 27px;
}

/*images home*/
.left-img {
    margin-top: -1070px;
    margin-left: 20px;
    z-index: 0;
}

.background-img1 {
    z-index: -1;
    margin-top: -700px;
}

.right-img {
    margin-top: -1000px;
    margin-left: 77%;
    z-index: 0;
}

.background-img2 {
    z-index: -1;
    margin-top: -700px;
}

.background-img3 {
    margin-top: -380px;
    margin-left: 14%;
}

/*Categories*/
.box {
    height: 170px;
    position: relative;
    max-width: 100%;
    margin-left: -300px;
    margin-top: -300px;
}

.box .group-number-banner {
    height: 170px;
    left: 0;
    top: 0;
    width: 100%;
}

.box .group-student {
    height: 170px;
    left: 1594px;
    position: absolute;
    top: 0;
    width: 300px;
}

.box .overlap-group {
    height: 170px;
    position: relative;
    width: 290px;
}

.box .rectangle {
    background-color: #354b66;
    height: 169px;
    left: 0;
    position: absolute;
    top: 0;
    width: 314px;
}

.box .text-wrapper {
    color: #ffffff;
    font-family: "Rowdies", Helvetica;
    font-size: 40px;
    font-weight: 300;
    left: 111px;
    letter-spacing: 0;
    line-height: 110px;
    position: absolute;
    top: 4px;
    width: 180px;
}

.box .div {
    color: #d8ebff;
    font-family: "Poppins", Helvetica;
    font-size: 22px;
    font-weight: 500;
    left: 115px;
    letter-spacing: 0;
    line-height: 35px;
    position: absolute;
    top: 95px;
    white-space: nowrap;
    width: 111px;
}

.box .overlap {
    height: 169px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1570px;
}

.box .group-professional {
    background-color: #21b573;
    height: 169px;
    left: 1268px;
    position: absolute;
    top: 0;
    width: 326px;
}

.box .group {
    height: 81px;
    left: 82px;
    position: relative;
    top: 41px;
    width: 152px;
}

.box .text-wrapper-2 {
    color: #ffffff;
    font-family: "Rowdies", Helvetica;
    font-size: 40px;
    font-weight: 300;
    left: 32px;
    letter-spacing: 0;
    line-height: 40px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 99px;
}

.box .text-wrapper-3 {
    color: #d8ebff;
    font-family: "Poppins", Helvetica;
    font-size: 22px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: 35px;
    position: absolute;
    top: 55px;
    white-space: nowrap;
    width: 148px;
}

.box .group-trustpilot {
    height: 169px;
    left: 653px;
    position: absolute;
    top: 0;
    width: 616px;
}

.box .overlap-2 {
    background-color: #354b66;
    height: 169px;
    position: relative;
    width: 616px;
}

.box .overlap-3 {
    height: 99px;
    left: 52px;
    position: absolute;
    top: 33px;
    width: 445px;
}

.box .text-wrapper-4 {
    color: #d8ebff;
    font-family: "Poppins", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 378px;
    letter-spacing: 0;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 12px;
    white-space: nowrap;
    width: 67px;
}

.box .group-2 {
    height: 99px;
    left: 0;
    position: absolute;
    top: 0;
    width: 380px;
}

.box .text-wrapper-5 {
    color: #d8ebff;
    font-family: "Poppins", Helvetica;
    font-size: 22px;
    font-weight: 500;
    left: 132px;
    letter-spacing: 0;
    line-height: 40px;
    position: absolute;
    top: 65px;
    white-space: nowrap;
    width: 246px;
}

.box .overlap-group-2 {
    height: 49px;
    left: 0;
    position: absolute;
    top: 0;
    width: 205px;
}

.box .texttrust {
    font-weight: bold;
    font-size: 38px;
    color: #d8ebff;
    margin-top: 9px;
    text-align: center;
    margin-right: 100px;
    margin-left: -40px;
}

.box .artboard {
    height: 49px;
    left: 0;
    position: absolute;
    top: 0;
    width: 195px;
    margin-left: -40px;
    margin-top: 5px;
}

.box .star {
    height: 32px;
    left: 509px;
    position: absolute;
    top: 47px;
    width: 34px;
}

.box .group-category {
    height: 169px;
    left: 328px;
    position: absolute;
    top: 0;
    width: 330px;
}

.box .overlap-4 {
    background-color: #21b573;
    height: 169px;
    position: relative;
    width: 326px;
}

.box .text-wrapper-6 {
    color: #ffffff;
    font-family: "Rowdies", Helvetica;
    font-size: 40px;
    font-weight: 300;
    left: 126px;
    letter-spacing: 0;
    line-height: 40px;
    position: absolute;
    top: 39px;
    white-space: nowrap;
    width: 75px;
}

.box .text-wrapper-7 {
    color: #d8ebff;
    font-family: "Poppins", Helvetica;
    font-size: 22px;
    font-weight: 500;
    left: 109px;
    letter-spacing: 0;
    line-height: 35px;
    position: absolute;
    top: 97px;
    white-space: nowrap;
    width: 109px;
}

.box .group-livecourses {
    height: 169px;
    left: 0;
    position: absolute;
    top: 0;
    width: 332px;
}

.box .overlap-5 {
    background-color: #354b66;
    background-size: 100% 100%;
    height: 169px;
    position: relative;
    width: 328px;
}

.box .text-wrapper-8 {
    color: #ffffff;
    font-family: "Rowdies", Helvetica;
    font-size: 40px;
    font-weight: 300;
    left: 114px;
    letter-spacing: 0;
    line-height: 40px;
    position: absolute;
    top: 39px;
    white-space: nowrap;
    width: 101px;
}

.box .text-wrapper-9 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 22px;
    font-weight: 500;
    left: 95px;
    letter-spacing: 0;
    line-height: 35px;
    position: absolute;
    top: 97px;
    white-space: nowrap;
    width: 139px;
}
